@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionRow($justify) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  margin-bottom: 200px;
}

@mixin sectionColumn($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  margin-bottom: 200px;
  row-gap: 30px;
}

@mixin flex1Relative() {
  display: flex;
  position: relative;
  flex: 1;
}
