$navBackground: rgba(0, 0, 0, 0.05);

$navLinkColor: #1d174d;
$navLinkColorHover: #817e96;
$navLinkColorActive: #006fb7;

$hiddenNavBackground: rgba(150, 150, 150, 1);
$hiddenLink: rgba(255, 255, 255, 1);

$primaryColor: rgb(31, 29, 42);
$primaryColorHover: rgb(84, 84, 85);

$inputBorder: rgb(230, 230, 230);
$inputText: rgb(190, 190, 190);

$secondaryColor: rgb(245, 245, 245);
$secondaryColorDarker: rgb(190, 190, 190);
$secondaryColorHover: rgb(220, 220, 220);

$heroText: rgb(150, 150, 150);
$paragraphText: #1d174d;

$buttonText: #1d174d;

$footerBackground: #1f1d2a;
$lightText: rgba(255, 255, 255, 0.5);
